<!DOCTYPE html>
<html lang="en" ng-app="jobHelper">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <div id="main-header">
                <h1 id="logo" class="glyphicon glyphicon-briefcase"></h1>
                <h1 id="main-title">Jerb.</h1>
            </div>
            <div id="user-auth" ng-controller="authCtrl">

                <a ng-hide="userService.isAuthenticated()" id="signup" href="#!/signup">Sign Up</a>
                <a ng-hide="userService.isAuthenticated()" id="login" href="#!/login">Log In</a>
                <h5 ng-show="userService.isAuthenticated()" id="user-name">Welcome, <span ng-bind="userService.user.name||user.name"></span>!</h5>
                <a ng-show="userService.isAuthenticated()" id="user-settings" ng-click="editProfile()" href="#!/profile" ng-cloak>Edit Profile</a>
                <a ng-show="userService.isAuthenticated()" id="logout" ng-click="logout()" href="#" ng-cloak>Log Out</a>
            </div>
        </div>

        <ul class="nav-bar">
            <li class="nav-item">
                <a class="glyphicon glyphicon-home" href="#!/home"></a>
            </li>

            <li class="nav-item">
                <a class="glyphicon glyphicon-eye-open" href="https://www.google.com/" target="_blank"></a>
            </li>

            <li class="nav-item">
                <a class="
glyphicon glyphicon-plus" href="#!/form"></a>
            </li>

            <li class="nav-item">
                <a class="glyphicon glyphicon-list-alt" href="#!/listings"></a>
            </li>

        </ul>
        <ng-view></ng-view>
    </div>
    <!--3rd party-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

    <!--Main App-->
    <script src="app.js"></script>
    <script src="controllers/listingCtrl.js"></script>
    <script src="controllers/userFormCtrl.js"></script>
    <script src="controllers/signupCtrl.js"></script>
    <script src="controllers/loginCtrl.js"></script>
    <script src="controllers/authCtrl.js"></script>
    <script src="controllers/profileCtrl.js"></script>
    <script src="services/httpService.js"></script>
    <script src="services/listingService.js"></script>
    <script src="services/tokenService.js"></script>
    <script src="services/userService.js"></script>
    <script src="services/authInterceptor.js"></script>
    <script src="directives/autoScroll.js"></script>
    <script src="filters/search.js"></script>
</body>

</html>