*{
    box-sizing: border-box;
}
a, #submit-btn button{
    transition: all ease .5s;
    padding: 5px;
    border-left: 1px solid lightslategray;
    border-radius: 0;
}
a:focus,a:hover,#submit-btn button:hover, #submit-btn button:focus{
    text-decoration: none;
    color: lightslategray;
    border-left: 1px solid lightslategray;
    border-radius: 15%;
    text-decoration: none;
}
.signup-form{
    display:flex;
    flex-direction: column;
}
.login-form{
    display:flex;
    flex-direction: column;
}
#signup-submit{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#login-submit{
    display: flex;
    width: 100%;
    flex-direction: column;
}
#edit-profile-submit{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#signup-submit-btn{
    font-size:40px;
    align-self: center;
}
#login-submit-btn{
    font-size:40px;
    align-self: center;
}
#edit-submit-btn{
    font-size:30px;
    border-left: 1px solid lightslategray;
}
li{
    list-style: none;
}
.help-block{
    color:firebrick;
}
.jumbotron{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: #431515;
    color: lightslategray;
}
#main-header{
    display:flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid white;
    border-radius: 15%; 
}
#user-auth{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#user-auth a{
    border-left: 1px solid #FFFFFF;    
    color: lightslategray;
    margin-right: 25px;
    font-size: 16px;
}
#user-name{
    margin-right:25px;
}
#logo{
    display:inline-block;
    font-size:76px;
    padding-right: 15px;
    padding-left: 15px;
}
#main-title{
    display: inline-block;
    font-size:76px;
    
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    padding-top: 50px;
}
.menu-item{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    justify-content: flex-end;
}
.nav-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted grey;
    padding-bottom: 5px;
}
.nav-item{
    display:flex;
    width: 50px;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-item a{
    font-size: 20px;
}
#new-post{
    padding: 20px;
    padding-right: 40px;
    padding-left: 40px;
}
.checkboxes{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
#submit-btn {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#submit-btn button{
    font-size: 40px;
    background: none;
    color:#337ab7;
}
#search-bar{
    width: 30%;
    display:inline-flex;
    flex-direction: row;   
}
#filter-bar input{
    margin-left: 10px;
}
#filter-bar{
    margin-left: 15px;
}
.status{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.job-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.panel-info{
    display:flex;
    flex-direction: row;
        justify-content: space-around;
}
.applied-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.applied-info button{
    margin: 5px;
}
.applied-info a{
    align-self: center;
    padding-bottom: 5px;
}
.panel-titles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
}
.panel-titles-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.panel-edits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.panel-edits a{
    margin: 5px;
}
.panel-edits .btn-danger, .panel-edits .btn-info{
    font-size: 12px;
    padding: 4px;
}
.subheader{
    display:flex;
    width:100%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


