
            <ul class="menu"ng-cloak>
                
                <div class="menu-item">
                    <a class="glyphicon glyphicon-eye-open" href="https://www.google.com/" target="_blank"></a>
                <li>Find a posting</li>
                </div>
                
                <div class="menu-item">
                    <a class="
glyphicon glyphicon-plus" href="#!/form"></a>
               <li>Add it</li>
                </div>
                
                <div class="menu-item">
                    <a class="glyphicon glyphicon-list-alt" href="#!/listings"></a>
                <li>Track it</li>
                </div>
                
                <div class="menu-item">
                    <a class="glyphicon glyphicon-check" href="#"></a>
                <li>Get a Jerb.</li>
                </div>
            </ul>


