<div class="row" controller="loginCtrl"ng-cloak>  
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <form id="login-form"name="loginForm" novalidate>
           <h3>Log In</h3>
            <div class="form-group">
                <input name="email"type="email" id="email" class="form-control" ng-model="user.email"placeholder="Email" required>
                <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">This field is required</p>
            </div>

            <div class="form-group">
                <input name="password"type="password" id="password" class="form-control" ng-model="user.password"placeholder="Password (Must be at least 7 characters)"ng-minlength="7"required>
                <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">This field is required</p>
                <p class="help-block" ng-show="message&&loginForm.password.$valid">{{message}}</p>
            </div>
            
            
            <div id="login-submit">
                <a id="login-submit-btn"ng-disabled="loginForm.$invalid"class="btn
glyphicon glyphicon-plus" ng-click="login(user)"></a>
            </div>
        </form>
    </div>
</div>  