<div class="row" controller="signupCtrl"ng-cloak>  
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <form id="signup-form"name="signupForm" novalidate>
           <h3>Sign Up</h3>
            <div class="form-group">
                <input name="name"type="text" id="name" class="form-control" ng-model="user.name"placeholder="Name"required>
                <p ng-show="signupForm.name.$invalid && !signupForm.name.$pristine" class="help-block">This field is required</p>
            </div>

            <div class="form-group">
                <input name="email"type="email" id="email" class="form-control" ng-model="user.email"placeholder="Email" required>
                <p ng-show="signupForm.email.$invalid && !signupForm.email.$pristine" class="help-block">This field is required</p>
            </div>

            <div class="form-group">
                <input name="password"type="password" id="password" class="form-control" ng-model="user.password"placeholder="Password (Must be at least 7 characters)"ng-minlength="7"required>
                <p ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="help-block">This field is required</p>
            </div>
            <div class="form-group">
                <input name="passwordRepeat"type="password" id="passwordRepeat" class="form-control" ng-model="passwordRepeat" placeholder="Repeat Password"required>
                <p ng-show="signupForm.passwordRepeat.$invalid && !signupForm.passwordRepeat.$pristine" class="help-block">This field is required</p>
                <p class="help-block" ng-show="user.password!=passwordRepeat && !signupForm.passwordRepeat.$pristine">Passwords must match</p>
                <span class="help-block" ng-show="message">{{message}}</span>
            </div>
            <div id="signup-submit">
                <a id="signup-submit-btn"ng-disabled="signupForm.$invalid"class="btn
glyphicon glyphicon-plus" ng-click="signup(user)"></a>
            </div>
        </form>
    </div>
</div>  